* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}



/* delete */
.pages{
    border: 10px solid red;
}
.subpages{
    border: 5px solid blue;
}

.nav{
    border: 5px solid black;
}
.nav-left{
    border: 5px solid black;
}
.nav-right{
    border: 5px solid black;
}

.copyright{
    border: 5px solid pink;
}
/* delete */

.container{
    border: 10px solid orange;
    max-width: 1000px;
    /* min-height: 100vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    background-image: url(/src/assets/imgs/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav{
    display: flex;
    align-items: center;
    
    .nav-left{
        flex: 1;
        
        .name-left{
            font-size: 1.5rem;
        }

        .name-right{
            color: rgb(57, 177, 42);
        }
    }

    .nav-right{
        

        #navbar{
            display: flex;
            
            .navbar-trigger{
                border: 1px solid red;
                padding: 14px;
                text-decoration: none;
                color: #0f0c0c;
                font-size: 15px;
                opacity: 0.5;
                display: block;
                transition: opacity 0.5s ease-in-out;
            }

            .navbar-trigger::after{
                content: "";
                border-bottom: 5px solid #2eca7f;
                width: 0;
                margin: auto;
                display: block;
                transition: width 0.5s ease-in-out;
            }
            .navbar-trigger:active{
                color: rgb(68, 68, 196);
            }

            .navbar-trigger--active,
            .navbar-trigger:hover{
                opacity: 1;
            }

            .navbar-trigger--active::after,
            .navbar-trigger:hover::after{
                width: 20px;
            }
        } 
    }
}

.pages{
    position: relative;
    padding: 20px 0;

    .page--actice{
        display: block;
        position: relative;
        visibility: visible;
        opacity: 1;
    }

    .subpage{
        
        //display: none;
        //position: absolute;
        top: 0;
        left: 0;
        right: 0;
        //visibility: hidden;
        //opacity: 0;
        border-radius: 20px;
        background: white;
        //transition: visibility 0.3s, opacity 0.3s ease-in-out;
        //box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);   

        .homepage-header{
            display: flex;
            align-items: center;

            .homepage-header-avatar{
                width: 200px;
                height: 200px;
                margin: 50px 50px;
                border: 4px solid white;
                box-shadow: 0px;
                transition: transform 0.5s ease-in-out;
            }

            .homepage-header-avatar:hover{
                box-shadow: 0px 15px 30px #928e8e;
                transform: translateY(-10px);
            }

            .homepage-header-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;

                .homepage-header-title{
                    font-size: 3rem;
                    font-weight: 800;
                }
        /////////////////////////////////////////////carousel
                .homepage-header-position{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                .homepage-header-socialLinks{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    .media{
                        background-color: white;
                        border-radius: 50%;
                        color: #928e8e;
                        width: 30px;
                        height: 30px;
                        margin: 0 3px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-sizing: content-box;
                        padding:3px;
                    }
                }
            }
        }

        .homepage-content{
            
        }


    }


    .subpage-header {
        background-color:#2eca7f;
        color: white;
        background-image: url(/src/assets/imgs/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        //padding: 32px 64px; 
    }

    .subpage-title{
        margin: 0;
        text-align: center;
        font-size: 40px;
    }

    .subpage-content{
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 30px 30px 50px 30px;
    }


    
}





